* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0f7fa;
  color: #033;
}
.carp-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}
/* Header */
 header {
  background: linear-gradient(135deg, #0277bd, #01579b);
  color: white;
  padding: 40px 20px;
  text-align: center;
}


nav {
  margin-top: 10px;
}

nav a {
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: white;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* Main content */
main {
  padding: 30px;
  max-width: 800px;
  margin: 30px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


/* Footer */
footer {
  background-color: #01579b;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}